<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Teacher</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="c-item nav">
            <div class="logo-uni">
                <img src="/images/logo_QM.png" alt="">
            </div>
            <a href="/admin">
                <li>Home</li>
            </a>
            <a href="/admin/manageStudent">
                <li>Manage Students</li>
            </a>
            <a href="/admin/manageTeacher">
                <li>Manage Teachers</li>
            </a>
            <a href="/admin/manageClass">
                <li>Manage Classes</li>
            </a>
        </div>
        <div class="c-item search">
            <form action="/admin/search" method="post" name="myForm" onsubmit="return validateForm()">
                <input type="text" name="txtSearch" placeholder="Search username">
            </form>
        </div>
        <div class="c-item profile">
            <div class="user">
                <img src="/images/logo-admin.png" height="50" alt="">
                {{user.name}}
                <div class="dropdown">
                    <a href="/admin/updateAdmin"> Update profile </a>
                    <a href="/logout"> Logout </a>
                </div>
            </div>
        </div>
        <div class="c-item controller">
            <div>
                <a href="/admin/addStudent">Add Student</a>
            </div>
            <div>
                <a href="/admin/addTeacher">Add Teacher</a>
            </div>
        </div>
        <div class="c-item body">
            <h2>Add New Teacher</h2>
            <form action="addTeacher" method="post" enctype="multipart/form-data">
                Role: <select name="role"><option value="Teacher">Teacher</option></select> <br> <br>
                Full name: <input type="text" name="TeacherName" required> <br> <br>
                Username: <input type="text" name="username" required> <br><br>
                Email: <input type="text" name="email" required="email-validator"> <br><br>
                Age: <input type="number" name="TeacherAge" min="18" required> <br><br>
                Phone: <input type="text" name="phone" required> <br><br>
                Address: <input type="text" name="address" id="add" required> <br><br>
                Choose images: <br>
                <input type="file" name="myFiles"><br><br>

                <input id="save" type="submit" value="Add">
                <a id="cancel" href="/admin/manageTeacher">Cancel</a>
            </form>
        </div>
    </div>

    <footer>
        QM - English
    </footer>
</body>

</html>